<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              				http://www.springframework.org/schema/beans/spring-beans.xsd
					        http://www.springframework.org/schema/context
					        http://www.springframework.org/schema/context/spring-context-3.2.xsd
					        http://www.springframework.org/schema/util
					        http://www.springframework.org/schema/util/spring-util-3.2.xsd
              				http://www.springframework.org/schema/task
              				http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- 包扫描 -->
	<context:component-scan base-package="com.yusheng.timer"></context:component-scan>
		
	<!-- 开启定时器注解 -->
	<task:annotation-driven />
	
	<!-- 声明一个bean 利用#{}获取其中属性 -->
	<util:properties id="sync_quartz" location="/WEB-INF/spring/timer-config.properties" />
	
	<!-- 原型为PropertyPlaceholderConfigurer 加载properties文件  使用${}来获取其中的属性 -->
	<context:property-placeholder location="/WEB-INF/spring/timer-config.properties" />
	
  
<!-- 	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/spring/timer-config.properties</value>
			</list>
		</property>
	</bean>
 -->
</beans>
